{{/* theme CSS  */}}

{{ $style := resources.Get "css/styles.css" | resources.Minify | resources.Fingerprint "md5" }}
{{ $flickity := resources.Get "css/flickity.min.css" | resources.Fingerprint "md5" }}
{{ $bulma := resources.Get "css/bulma.min.css" | resources.Fingerprint "md5" }}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" href="{{ $flickity.Permalink }}">
<link rel="stylesheet" href="{{ $bulma.Permalink }}">
