{{ define "main" }}
    <div class="container">
        <section class="section">
            <div class="container max-800px py-auto">
                <h1 class="title is-2 font-serif has-text-centered pt-1">
                    {{ .Title }}
                </h1>
                <form id="search" class="control has-icons-left" role="search">
                    <label hidden for="search-input">Search site</label>
                    <input class="input is-medium is-rounded" type="text" id="search-input" name="query" placeholder="Type here to search">
                    <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
                </form>
                <section id="searchResult" class="search"></section>                    
            </div>
        </section>
    </div>
<script>
    /* search */
    let searchInput = document.querySelector('#search-input'),
        searchResult = document.querySelector('#searchResult');

    let dataJSON;

    // add keydown listener, when user hit '/', it will focus on search input (Desktop)
    window.addEventListener('keydown', function(event) {
        if (event.key === '/') {
            event.preventDefault()
            searchInput.focus()
        }
    })
    // add keydown listener, when user hit 'ESC', it will close search result and unfocus search input.
    window.addEventListener('keydown', function(event) {
        if (event.keyCode === 27)
        {
            searchInput.value = '';
            searchResult.innerHTML = '';
            searchInput.blur()
        }
    })
    /**
     * Get the posts lists in json format.
     */
    const getPostsJSON = async () => {
        let response = await fetch('/index.json')
        let data = await response.json()
        return data
    }
    /**
     * @param query, element.
     * query: the keyword that user given.
     * element: target element to show the result.
     */
    const filterPostsJSON = (query, element) => {
        let result, itemsWithElement;
        query = new RegExp(query, 'ig')
        result = dataJSON.filter(item => query.test(item.title))
        itemsWithElement = result.map(item => (
            `<li class="search-result-item">
                <a href="${item.href}">
                    ${item.title}
                </a>
            </li>`
        ))
        element.style.display = 'block';
        itemsWithElement.unshift(`<p class="is-size-12 px-2 py-2 text-content">Press 'ESC' to cancel search.</p>`)
        element.innerHTML = itemsWithElement.join('');
    }
    /**
     * searchInputAction take two arguments, event and callback
     */ 
    const searchInputAction = (event, callback) => {
        searchInput.addEventListener(event, callback)
    }
    /**
     * When user focus on the search input, function getPostsJSON called.
     */
    searchInputAction('focus', () => getPostsJSON().then(data => dataJSON = data))
    /**
     * filtering result with the query that user given on search input.
     */
    searchInputAction('keyup', (event) => filterPostsJSON(event.target.value, searchResult))
</script>
{{ end }}
