{{/*all script */}}
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/lunr@2.3.8/lunr.min.js"></script>

{{ $mainjs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint}}
{{ $togglejs := resources.Get "js/toggle.js" | js.Build "toggle.js" | minify | fingerprint}}
<script defer src="{{ $mainjs.RelPermalink }}" ></script>
<script defer src="{{ $togglejs.RelPermalink }}" ></script>